*{
    padding: 0;
    margin: 0;
}

.home{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 999;
    transition: 1s;
}

.head{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    width: 50%;
}

.navs{
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 600;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav1:hover{
    color: #b80244;
}

.search{
    width: 15px;
    height: 15px;
}

/* carousel */

.carousell{
    width: 100%;
    height: 110vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.car1, .car2, .car3{
    height: 115vh;
    width: 100%;
}

.car1{
    background-image: url(./images/izi\ \ 3.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hold{
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.icon{
    width: 200px;
    height: 60px;
    margin-bottom: 30px;
}

.izi{
    font-size: 60px;
    font-weight: 600;
    color: #d10000;
    margin-bottom: 15px;
}

.words{
    font-size: 18px;
    line-height:30px;
    margin-bottom: 40px
}

.store{
    display: flex;
}

.google{
    width: 140px;
    height: 55px;
    margin-left: -19px;
}

.car2{
    background-image: url(./images/izi\ ban\ 2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button{
    width: 190px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
}

.but{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.car3{
    background-image: url(./images/izi\ banner\ 1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* float/position */

.float{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    position: relative;
}

.floatHold{
    width: 85%;
    height: 100%;
    background-color: #d10000;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: -45px;
}

.imageH{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hold2{
    width: 21%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.plus{
    width: 60%;
    height: 60%;
}

.our{
    height: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.borno{
    font-size: 20px;
}

.yaba{
    margin-top: 10px;
}

/* send */

.send{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

.sendHold{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one{
    width: 31%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 50px; */
}

.izigo{
    width: 20%;
}

.receive{
    color: #d10000;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.plat{
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
    font-weight: 600;
    color: rgb(37, 37, 37);
}

.two{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 380px;
}

.rider{
    width: 100%;
}

.three{
    width: 27%;
    height: 33%;
    box-shadow: 6px 6px 20px rgb(184, 181, 181);
    position: absolute;
    right: 100px;
    z-index: 500;
    /* margin-right: 100px; */
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.box2{
    width: 97%;
    height: 95%;
    background-color: #e6e4e4ab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.core{
    font-size: 22px;
    font-weight: 600;
    color: #d10000;
    margin-left: 25px;
    margin-bottom: 10px;
}

.vision{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 25px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mission{
    font-weight: 600;
}

.africa{
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mark{
    width: 17px;
    height: 17px;
}

.safe{
    background-color: #f5f5f5;
    width: 1005;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safeHold{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fast{
    font-size: 35px;
    color: #d10000;
    height: 10%;
    font-weight: 600;
}

.parcel{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parcel1{
    background-color: white;
    width: 31%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.online{
    width: 100%;
    height: 65%;
}

.life{
    font-size: 20px;
    font-weight: 600;
    color: #301d44;
    margin-left: 25px;
    margin-top: 15px;
}

.push{
    width: 90%;
    margin-left: 25px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
    color: #301d44;
}

.twenty{
    width: 100%;
    height: 50vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-self: center;
}

.twentyHold{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.getting{
    font-size: 40px;
    font-weight: 600;
    color: #d10000;
    height: 20%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.power{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.powered{
    width: 18%;
    height: 60px;
}