*{
    padding: 0;
    margin: 0;
}
.carousel{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.car1, .car2, .car3{
    height: 115vh;
    width: 100%;
}

.car1{
    background-image: url(./images/izi\ \ 3.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hold{
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.icon{
    width: 200px;
    height: 60px;
    margin-bottom: 30px;
}

.izi{
    font-size: 60px;
    font-weight: 600;
    color: #d10000;
    margin-bottom: 15px;
}

.words{
    font-size: 18px;
    line-height:30px;
    margin-bottom: 40px
}

.store{
    display: flex;
}

.google{
    width: 140px;
    height: 55px;
    margin-left: -19px;
}

.car2{
    background-image: url(./images/izi\ ban\ 2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button{
    width: 190px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
}

.but{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.car3{
    background-image: url(./images/izi\ banner\ 1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carousel{
    max-width: 1000px;
    position: relative;
}

.car1, .car2, .car3{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 0;
    transition: 0.6s ease;
    user-select: none 
}

.next{
    right: 0;
    border-radius: 3px 0 3px;
}

.next:hover, .prev:hover{
    background-color: rgba(0. 0. 0. 0.8);
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 0 2px;
    background-color: black;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #f5f5f5;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}
}