*{
    padding: 0;
    margin: 0;
}

.srch{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/map.png);
    background-blend-mode: darken;
    backdrop-filter: 10;
    background-size: cover;
}

.srchHold{
    width: 50%;
    height: 150px;
    background-color: white;
    /* border: 2px solid #d10000; */
    /* border-radius: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pickup{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid #d10000; */
}

.srch1{
    width: 80%;
    height: 90%;
    outline: none;
    z-index: 999;
    border: 2px solid #d1000085;
    background: transparent;
    padding-left: 8px;
    border-radius: 8px;
    color: #d10000c4;
}

.tracker{
    width: 15%;
    height: 40px;
    background-color: #d10000c4;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 8px;
}

.tracker:hover{
    background-color: white;
    border: 1px solid #d10000c4;
    color: #d10000c4;
}

.srch2{
    width: 20px;
    height: 20px;
    z-index: 999;
}